.projectGroup {
	background-color: var(--light-gray);
	border-radius: 5px;
	margin: 10px;
	min-width: 400px;
	padding: 20px;
}

.projectGroup h3 {
	margin-top: 0px;
}

@media screen and (max-width: 575px) {
	.projectGroup {
		min-width: 100%;
	}
}